
/.idea/
/jaxrs-bean-validation-cdi-custom-validator.iml
/glassfish-jax-rs-bv-cdi-workaround/target/
/glassfish-jax-rs-bv-cdi-workaround/glassfish-jax-rs-bv-cdi-workaround.iml
/web/target/
/web/web.iml
